CMakeSettings.json
CMakeCache.txt
cmake_install.cmake
cmake-build-debug/
cmake-build-release/
CMakeFiles/


.idea/

ALL_BUILD.*

.vs/
.vscode/
_deps/
x64/
*.sln
*.vcxproj
*.filters
*.user
*.exe
*.pdb

bin/
out/
build/
BUILD/
Farfocel-Library/
*/*.dir/*
Sandbox-Library/
